<body>
    <h1>Brave</h1>
    <br>
    {{titile1}}
    <p>Examing logs, diffs and Object information.</p>
</body>



<table class="table">
  <thead>
    <tr>
      <th "col">Sno</th>
      <th "col">First</th>
      <th "col">Last</th>
      <th "col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
<br>


<img src="../public/images/im2.png" alt="Paris" style="width:150px">